h4 {
    margin-left: 150px;
    letter-spacing: 1px;
}

a {
    margin-left: 20px;
}

.Btn {
    text-decoration: none;
    color: whitesmoke;
    border: solid 1px;
    padding: 7px 17px;
    border-radius: 8px;
    /* background-color: #37C19C; */
    margin-left: 10px;
}

.Btn-Default,
.Btn-Default0 {
    border-radius: 60%;
    padding: 5px;
    margin-left: 15px;
    border-color: #37C19C;
    background-color: #37C19C;

    font-size: 20px;
}

.Btn-Default:hover {
    /* opacity: 60%; */
    border-bottom: 3px solid #1A9781;

}

.Btn-Default:active {
    opacity: 60%;

}

.Btn-Primary,
.Btn-Primary1 {
    margin-left: 25px;
    border-color: #37C19C;
    background-color: #37C19C;



}

.Btn-Primary:hover {
    /* opacity: 60%; */
    border-bottom: 3px solid #1A9781;

}

.Btn-Primary:active {
    opacity: 60%;

}


.Btn-Secondary,
.Btn-Secondary2 {
    background-color: #E5EBED;
    margin-left: 25px;
    color: #72949E;
    border-color: #72949E;
}

.Btn-Secondary:active {
    opacity: 60%;

}

.Btn-Secondary:hover {
    /* opacity: 60%; */
    border-bottom: 3px solid #9a9e9d;

}

.Btn-Secondary:active {
    opacity: 60%;

}




.Btn-Destructive,
.Btn-Destructive3 {
    margin-left: 25px;
    border-color: black;
    background-color: #EE8363;
    border-color: #EE8363;
}


.Btn-Destructive:active {
    opacity: 60%;

}

.Btn-Destructive:hover {
    /* opacity: 60%; */
    border-bottom: 3px solid #bb6950;

}

.Btn-Destructive:active {
    opacity: 60%;

}

.hover {
    border-bottom: 3px solid;

}

.press {
    opacity: 60%;

}

.Disabled {


    opacity: 45%;
    cursor: not-allowed;
}

.Btn-out-Default {
    background-color: white;
    color: #1A9781;
    border-radius: 60%;
    padding: 5px;
    margin-left: 15px;
    border-color: #37C19C;
    font-size: 20px;
    border: 1px solid #1A9781;
}

.Btn-out-Primary {
    background-color: white;
    color: #1A9781;

    border: 1px solid #1A9781;
}

.Btn-out-Secondary {
    background-color: white;
    color: #727272;
    border: 1px solid #72949E;
}

.Btn-out-Destructive {
    background-color: white;
    color: #bb6950;
    border: 1px solid #bb6950;
}


.Btn-out-Default:hover {
    border: 2px solid #1A9781;

}

.Btn-out-Primary:hover {
    border: 2px solid #1A9781;


}

.Btn-out-Secondary:hover {
    border: 2px solid #72949E;


}

.Btn-out-Destructive:hover {
    border: 2px solid #EE8363;


}

.Btn-out-Default:active {
    opacity: 60%;
}

.Btn-out-Primary:active {
    opacity: 60%;
}

.Btn-out-Secondary:active {
    opacity: 60%;
}

.Btn-out-Destructive:active {
    opacity: 60%;
}

.Btn-out-Default0 {
    background-color: white;
    color: #1A9781;
    border-radius: 60%;
    padding: 5px;
    margin-left: 15px;
    border-color: #37C19C;
    font-size: 20px;
    border: 1px solid #1A9781;
}

.Btn-out-Primary1 {
    background-color: white;
    color: #1A9781;

    border: 1px solid #1A9781;
}

.Btn-out-Secondary2 {
    background-color: white;
    color: #727272;
    border: 1px solid #72949E;
}

.Btn-out-Destructive3 {
    background-color: white;
    color: #bb6950;
    border: 1px solid #bb6950;
}

span {
    margin-left: 55px;
}