*{
    margin: 0px;
}

.container{
    left: 0;
    right: 0px;
    text-align: center;
    padding: 10px 30px;
    height: 44px;
    display: inline;
    display: block;
    z-index: 3;
    background-color: whitesmoke;
    border: solid 2px whitesmoke;
}
.brand{
    position: absolute;
    width: 40px;
    height: auto;
    border-radius: 30px;
    left: 28px;
    top: 20px;
}

header {
    width: 85px;
    padding: 2px;
    position: absolute;
    margin-left: 40px;
    top: 30px;
    font-family: sans-serif;
    z-index: 3;
}

.container li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    left: 10px;
    
}

a {
    text-decoration: none;
    color: black;
}

.bar{
    padding: 20px;
}
.bar:bar{
    border-bottom: solid 2px blue;
}
nav{
    left: 80px;
    top: 30px;
    position: absolute;
    margin-left: 70px;
    font-family: sans-serif;
    padding: 4px;

}
.search1{
    position: absolute;
    width: 15px;
    height: auto;
    border-radius: 30px;
    left: 1128px;
    top: 37px;
}
.ser {
    position: absolute;
    top: 35px;
    left: 1150px;
    border: 2px;
    outline: none;
}
.bell {
    position: absolute;
    width: 20px;
    height: auto;
    border-radius: 30px;
    left: 1450px;
    top: 30px;

}

.last img{
    
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        left: 1500px;
        top: 22px;
        
       
}